*{
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: none;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0;
  }

html {
    font-family: 'Recursive', sans-serif;
}

body {
    background-color: #FB6B6B;
}

.app-container {
    width: 100vw;
    max-width: 425px;
    height: 100vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: #FB6B6B;
}

.logo-area span {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    font-family: 'Righteous', cursive;
    margin-top: 10px;
}

.home-screen .logo-area {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-screen .dropdown {
    position: relative;
}

.home-screen .dropdown .select  {
    width: 141px;
    height: 25px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 12px;
    color: #ADADAD;
    padding: 15px 5px;
}

.home-screen .dropdown .expand {
    width: 141px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    top: -6px;
    color: #222222;
    padding: 10px 5px;
    
}

.home-screen .zaps-input {
    width: 141px;
    height: 25px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 9px;
    color: #000;
    padding: 15px 5px;
    border: none;
    outline: none;
}

.home-screen .dropdown .expand ul li {
    margin-bottom: 8px;
}

.control-button {
    width: 141px;
    height: 31px;
    margin-top: 6px;
    background-color: #fff;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
    font-family: 'Recursive', sans-serif;

}

.question-screen {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
}

.question-screen .container {
    width: 90%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    flex: 1;
    position: relative;
    overflow-y: scroll;
}

.question-screen .logo-area {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.question-screen .logo-area img {
    margin-right: 8px;
}

.questions {
    width: 100%;
}

.card-container {
    position: relative;
    height: fit-content;
    margin-bottom: 10px;
    transition: all ease .5s;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: calc(17vw);
    height: fit-content;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 13px 6px;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
    backface-visibility: hidden;
    transition: all ease .5s;
}

.question span {
    width: 100%;
    word-break: break-word;
}

.question ion-icon {
    --ionicon-stroke-width: 56px;
}

.question.open {
    background-color: #FFFFD4;
    min-height: 34vw;
    height:fit-content;
    position:relative;
    top: 0;
    transition: all .5s;
    transform-style: preserve-3d;
}

.question.open.front {
    position: relative;
    z-index: 2;
    padding-bottom: 0px;
    padding-right: 0px;
}

.question.open.back {
    position: absolute;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.question.open.back .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px
}

.question.open.back .actions .action {
    width: 30%;
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7px 0px;
    border-radius: 5px;
}

.red {
    background-color: #FF3030;
}

.orange {
    background-color: #FF922E;
}

.green {
    background-color: #2FBE34;
}

.front-turn {
    transform: rotateY(-180deg);
}

.back-turn {
    transform: rotateY(0deg) !important; 
}

.turn-icon-click-area {
    width: 40px;
    height: 40px;
    position: relative;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    align-self: flex-end;
}

.turn-icon-click-area img {
    position: relative;
    z-index: -1;
}

.answered-red {
    color: #FF3030;
    text-decoration: line-through;
}

.answered-orange {
    color: #FF922E;
    text-decoration: line-through;
}

.answered-green {
    color: #2FBE34;
    text-decoration: line-through;
}

.question.answered-red  ion-icon,
.question.answered-orange ion-icon,
.question.answered-green ion-icon {
    font-size: 30px;
}



footer {
    width: 90%;
    padding: 18px 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.226);
    position: relative;
    bottom: 0;
    left: 0;
}

footer .answers-counter {
    text-transform: uppercase;
    font-size: 20px;
    display: block;
}

footer .icons-container{
    width: 80%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}


footer .icons-container .close-circle {
    color: #FF3030;
    font-size: 22px;
}

footer .icons-container .help-circle {
    color: #FF922E;
    font-size: 22px;
}

footer .icons-container .checkmark-circle {
    color: #2FBE34;
    font-size: 22px;
}

footer .end-game-container {
    width: 80%;
    margin: auto;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3px;
}

footer .end-game-container .title,
footer .end-game-container span {
    text-align: center;
}

footer .end-game-container span {
    margin-top: 10px;
}

footer button {
    width: 141px;
    height: 31px;
    margin-top: 6px;
    background-color: #fff;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
    font-family: 'Recursive', sans-serif;
}



  





.hidden {
    display: none !important; 
}